* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}


body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f5eded;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
}
 